:root {
  --main-bg: rgb(245, 245, 245);
}

body {
  margin: 0px;
  display: flex;
}

.splash-container {
  text-align: center;
  height: 100vh;
  min-width: 35vw;
  margin: 0px;
  background: url("https://images.unsplash.com/photo-1644167042631-a9fadfa7d747?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Rowdies", cursive;
  padding: 15px;
  position: relative;
  top: 250px;
}

.logo-img {
  height: auto;
  width: 75px;
  margin-right: 25px;
}

.sign-up-container {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 1.5rem;
  padding: 20px 40px;
  background-color: var(--main-bg);
  flex: 1;
}

.intro p {
  margin: 15px;
}

.form-container {
  padding: 10px 40px;
  box-shadow: 0px 5px 5px rgb(197 197 197);;
  position: relative;
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 20px;
}

.submission-area {
  position: relative;
  padding: 30px 40px;
  background-color: var(--main-bg);
  flex: 1;
}

button[type="submit"] {
  background-color: #42506D;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
}