:root {
  --main-bg: rgb(245, 245, 245);
  --label: #374052;
}

body {
  margin: 0px;
  display: flex;
}

.splash-container {
  text-align: center;
  height: 100vh;
  min-width: 35vw;
  margin: 0px;
  background: url("https://images.unsplash.com/photo-1644167042631-a9fadfa7d747?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Rowdies", cursive;
  padding: 15px;
  position: relative;
  top: 250px;
}

.logo-img {
  height: auto;
  width: 75px;
  margin-right: 25px;
}

.sign-up-container {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 1.3rem;
  padding: 20px 40px;
  background-color: var(--main-bg);
  flex: 1;
  font-weight: 600;
}

.intro>p:last-child {
  margin-top: 5px;
}

.form-container {
  padding: 10px 40px;
  box-shadow: 0px 5px 5px rgb(197 197 197);;
  position: relative;
  z-index: 10;
}

form>h3 {
  font-size: 1.3rem;
  color: var(--label);
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
}

label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--label);
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 20px;
}

input {
  border: 1px solid rgba(209, 209, 209, 0.781);
  border-radius: 8px;
  padding: 5px 7px;
}

.submission-area {
  position: relative;
  padding: 30px 40px;
  background-color: var(--main-bg);
  flex: 1;
}

button[type="submit"] {
  background-color: #435270;
  color: white;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 200px;
  border: 0px;
  box-shadow: 0px 5px 5px rgb(197 197 197);
  margin-bottom: 15px;
}

button[type="submit"]:hover {
  filter: brightness(90%);
}

button[type="submit"]:active {
  filter: brightness(75%);
}

.have-an-account>a {
  color: #435270;
  font-weight: 600;
  text-decoration: none;
}

.have-an-account>a:visited {
  color: #435270;
  text-decoration: none;
}